.rockstar, .lorem {
  background: url("../img/bg-rock.png") no-repeat top/cover;
  border-right: 1px solid white;
  height: 100vh;
}
@media only screen and (max-width: 1023px) {
  .rockstar, .lorem {
    height: 50vh;
    border-bottom: 1px solid white;
    border-right: none;
  }
}
.rockstar img, .lorem img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 800px) and (min-width: 500px) {
  .rockstar img, .lorem img {
    width: 50%;
  }
}

.lorem {
  background: url("../img/bg-lorem.png") no-repeat top/cover;
  border: none;
}

.profile {
  width: 33.33333333333%;
  float: left;
}
@media only screen and (max-width: 1200px) {
  .profile {
    width: 50%;
  }
}
@media only screen and (max-width: 785px) {
  .profile {
    width: 100%;
  }
}
.profile .artist {
  margin: 0 auto;
  width: 65%;
}
.profile .artist img {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 150px;
  margin: 1rem auto 0;
  display: block;
}
.profile .artist p {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
  padding-top: 0.8rem;
}
.profile .artist p::after {
  content: "";
  background: url("../img/lightningBolt.png");
  position: relative;
  top: 2px;
  width: 15px;
  height: 20px;
  background-repeat: no-repeat;
  margin-left: 6px;
}
@media only screen and (min-width: 1440px) {
  .profile .profileInfo div:first-of-type {
    text-align: center;
  }
}
@media only screen and (min-width: 641px) and (max-width: 785px) {
  .profile .profileInfo div:first-of-type {
    text-align: center;
  }
}
.profile .profileInfo div:first-of-type .attribute {
  color: #b8d797;
}
.profile .callout.secondary {
  background-color: #665687;
}
.profile .callout {
  border: 1px solid #fff;
  color: #fff;
  margin: 0;
}
@media only screen and (max-width: 785px) {
  .profile .callout {
    border-left-style: none;
    border-right-style: none;
  }
}
.profile .callout p {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
}
.profile .callout p span {
  font-weight: 400;
}

html,
body {
  height: 100%;
}

body > div {
  background-color: #b8d797;
}

.column, .columns {
  position: relative;
}

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}
